# Datos (nunca se sube datos crudos a GitHub)
data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# Modelos entrenados (pueden ser muy pesados)
models/*
!models/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.egg-info/

# Entornos
.env
*.env
.venv/
env/
CLAUDE.md

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/